/* Table of Content */
/* ----------------------
1.Generl
2.Navbar
3.Banner
3.About
5.Services
6.Portfolio
7.Contact
8.Fooer
*/
/* 1Gener */

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}



:root{
    /* Background Color */
    --primary-color:red;
    --secondary-color:rgb(14, 12, 12);
    --bg-dark-blue:rgb(0, 0, 0);
    --bg-white:white;
    --gray-color:gray;
    --gradient-color:liner-gradient(-224deg, var(--primary-color) 0, #337dff 100% );
    --gradient-color:liner-gradient(-120deg, blue 20.19%, #7644ff 50.19% var(--primary-color) 79.69% );
    --filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primary-color)', endColorstr='var(--secondary-color)', GradientType=1 );

    /* Text Color */
    --primary-font:'poppins' , snas-sarif;
    --primary-text:red;
    --text-gray:gray;
    --text-white:white;
}

body{
    font-family: var(--primary-font);
    background-color:var(--secondary-color);

}
a{
    text-decoration: none;
}
/* 1 custom Css */

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background:var(--primary-color)
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
}
section{
    padding: 50px;

}
.main-btn{
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 8px 27px;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    color: var(--text-gray);
    font-weight: 500px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}
h1{
    font-size: 54px;
    line-height: 68px;
    font-weight: 800px;
    color: var(--text-white);
    margin-bottom: 20px;
}
h1 span{
    color: var(--primary-color);
}
h2{
    font-size: 50px;
    line-height: 1.3px;
    font-weight: 600px;
    color: var(--text-white);
    margin-bottom: 15px;
}
h3{
    font-size: 20px;
    color: var(--text-white);
    font-weight: 600px;
    margin-bottom: 19px;
}
h6{
    font-size: 15px;
   text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    color: var(--text-white);
    margin-bottom: 20px;
}
p{
    color: var(--text-gray);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400px;
}
.subtitle{
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background:red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button{
    outline: none !important;
    box-shadow: none !important;


}

/* 2.Navbar */


    .navbar-brand{
        color: white;
    }
.header-wapper .navbar{
    padding:15px 0 ;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;

    }
.header-wapper .navbar-toggler{
    border:0;
    color:var(--gray-color)
}
.header-wapper .navbar-toggler:focus{
    box-shadow: none;
}
.header-wapper .nav-item{
    margin: 0 10px;
}
.header-wapper .nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 500px;
    color: var(--text-gray);
    display: inline-block;
}
.header-wapper .nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background:var(--primary-color);
    transition: 0.3s;
    bottom: 0;
}
.header-wapper .nav-item .nav-link.active::after,
.header-wapper .nav-item .nav-link:hover::after{
    width: 100%;

}
.header-wapper .nav-item .nav-link.active,
.header-wapper .nav-item .nav-link:hover{
    color: var(--text-white);
}
.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-dark-blue);
    -webkit-box-shadow:0 4px 6px 0 rgba(12,0,46,.05);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
    color: var(--primary-text);
}



  /*Banner Section  */
/* banner */
.banner_wapper{
    width: 100%;
    height: auto;
    min-height:650px;
    background-image:url('../images/5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    padding: 100px 0 100px 0;
}

    /*Banner Section End */

    /* 4 About Section  */
    .about_wrapper ul.nav-pills {
        border: 1px solid var(--gray-color);
        border-radius: 50px;
    }
    .about_wrapper ul li .nav-link{
        border-radius: 50px;
        font-size: 15px;
        font-weight: 500;
        transition: all 0.4s cubic-bezier(0,0,0.2,1);
        display: inline-block;
        color: var(--gray-color);
        border: 0;
    }
    .about_wrapper img{
        height: 500px;
        width: 350px;
    }
    .about_wrapper ul li .nav-link.active{
    background-color: var(--primary-color);
    }
    .about_wrapper .single-progress{
        margin-top: 26px;
        position: relative;
        overflow: hidden;

    }
    .about_wrapper .single-progress .progress{
        height: 4px;
        border-radius: 4px;
        background-color: var(--bg-white);
        overflow: visible;
    }
    .about_wrapper .single-progress .progress-bar{
   background-image: var(--gradient-color);
    }
    .about_wrapper .single-progress h6{
        text-align: left;

    }
    .about_wrapper .single-progress .label{
        position: absolute;
        right: 0;
        top: 0;
        color: var(--text-gray);
        font-size: 15px;
    }
    .about_wrapper .tab-pane li{
        color: var(--gray-color);
        font-size: 16px;
        margin-bottom: 15px;
        list-style: none;
    }
    .about_wrapper .tab-pane li a{
        font-weight: 500;
        display: block;
        color: var(--text-gray);
    }



    /* About Section End */

    /* Services Section */
    .services_wrapper .card{
        background-color: var(--bg-dark-blue);
        cursor: pointer;
        transition: 0.6s cubic-bezier(0.05, 0.2, 0.1, 1);
        box-shadow: 0.65s cubic-bezier(0.05, 0.2,0.1,1);
    }
    .services_wrapper .card:hover{
        box-shadow: 0px 2px 70px 0 rgb(253 71 102 / 5%);
        transform: translateY(-5px);
    }
    /* Services Section End */

    /* Portfolio Section */
    .portfolio_wrapper .card{
        height: 100%;
        min-height: 350px;
        overflow: hidden;
        border: 1px solid var(--bg-white);
        cursor: pointer;
        box-shadow: 0 0 16px 4px var(--bg-dark-blue);
    }
   
    .portfolio_wrapper .card span{
        transition: background-position 4s ease-in-out 0s;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: top center;
    }

    .portfolio_wrapper .card:hover span{
        background-position: bottom center;
        
    }
    /* Portfolio Section End  */

    /* project description  */
.project-description .btn-project {
    background-color: rgb(13, 90, 132);
    position: relative;
    bottom: 60px;
    left: 50px;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    transition: 0.5s ease-out;
}

.project:hover .btn-project{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
    opacity: 1;

} 
/* end project description  */

    /* start contact */
    .cotnact_wrapper .form-control,
    .cotnact_wrapper textarea{
       background-color: transparent;
       border-color: var(--gray-color);
       color: var(--text-gray);
       font-size: 15px;
       font-weight: 400;
       padding: 10px 20px;

    }
    .cotnact_wrapper .form-control:hover,
    .cotnact_wrapper textarea:hover,
    .cotnact_wrapper .form-control:focus,
    .cotnact_wrapper textarea{
        border-color: var(--primary-color);
        color: var(--text-white);
                  }

    .cotnact_wrapper .call_details{
        color: var(--text-gray);

    }
    .cotnact_wrapper .call_details a{
         font-weight: 700;
        color: var(--text-gray);
        
    }
        /* end contact  */


/* footer  */
.footer_wrapper{
    background-color: var(--bg-dark-blue);
    padding: 20px 0;
}
.footer_wrapper .footer-logo img{
    width: 100px
}
.footer_wrapper .social-icon li{
    margin: 6px;
    list-style: none;
}
.footer_wrapper .social-icon a{
    width: 35px;
    height: 35px;
    line-height: 32px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1) ;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.335, 1);

}
.footer_wrapper .social-icon a:hover{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  columns: var(--text-white);
  box-shadow: 0 10px 15px 0 rgb(0 0 0 /10%);
  transform: translateY(-3px);
}
.footer_wrapper .copyright-text p{
    font-size: 11px;
    line-height: 20px;

}
.footer_wrapper .copyright-text a{
    color: var(--primary-color);
 
}
#msg{
    color: rgb(113, 176, 12);
    display: block;
}

/* media  */





  